
.body{
  background: #F5F5F5;
}


.navbar{
  background: #FFFFFF;


}

nav{
  display: flex;
  padding: 20px;

}

.nav-item{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar-brand{
  font-family: 'Barlow';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #112B3C;


}

.nav-word{

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #808080;
text-decoration: none;

}

.active{
  font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #112B3C;
border-bottom: 5px solid #E61C5D;

}



.register{
  padding: 18px 24px;

width: 122px;
height: 60px;
background: #E61C5D;
border-radius: 45px;
font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-decoration: none;
color: #FFFFFF;
}

li{
  margin: 0 10px;
}
/* FIRST CONTAINER */
.first-container{
  margin: 30px 60px;
  padding: 20px;
}
.first-heading{
  font-family: 'Barlow';
font-style: normal;
font-weight: bold;
font-size: 74px;
line-height: 120%;
color: #112B3C;
text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
}


.L1{
  margin: 100px 20px 0 0;
}

.R1{
  padding: 20px 5px;
  margin: 0 0 0 40px;
}

.life{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #808080;
}

.form{
  background: #FFFFFF;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
border-radius: 18px;
width: 600px;
height: 60px;

}


.location{
  font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 20px;
/* line-height: 14px; */
color: #808080;

}

.strike{
  height: 20px;
  width: 2px;
  background: #808080;
opacity: 0.24;

}

.date{
  font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 20px;
/* line-height: 14px; */
color: #808080;
}

.calendar{
  width: 30px;
}

.location{
  width: 30px;
}



.search{
  width: 30px;

}
.arrow-down{
  width: 15px;
}
.search-div{
  width: 48px;
  height: 48px;
background: #E61C5D;
border-radius: 50%;
padding: 15px;
}

.location-icon{
  width: 38px;
height: 38px;
}

.allentown{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

}

::placeholder {
  color: #112B3C;

}

.august{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
color: #112B3C;

}

.unsplash{
  height: 600px;
  width: 370px;
  border-radius: 160px;;
}

.small{
  width: 200px;
  height: 330.04px;
  border: 8px solid #FFFFFF;
  border-radius: 160px;
}




/* MEDIA QUERY FOR NAVBAR */
@media (max-width: 1000px) {
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-word{
    flex: 1;
  }
}



/* FLEXBOX FIRST CONTAINER */
.first-container{
  display: flex;
}

.small{
  position: absolute;
  top: 275px;
  right: 2px;
}
.form{
  display: flex;
  justify-content: space-around;
}

.location-icon{
  align-self: center;
}
.search-icon{
  align-self: center;
}

.strike{
  align-self: center;
}

.form-location{
  display: flex;
  flex-direction: column;
}

.form-date{
  display: flex;
  flex-direction: column;
}

.search-div{
  display: flex;
  justify-content: center;
}

.arrow-location{
  display: flex;
  justify-content: space-between;
}

.arrow-date{
  display: flex;
  justify-content: space-between;
}
/* MEDIA QUERY FOR FIRST CONTAINER */

@media (max-width: 1200px) {
  .first-container{
    flex-direction: column;
  }

  .small{
    position: absolute;
    top: 650px;
    left: 350px;
  }

  .R1{
    margin: 30px 20px;
  }

}


/* SECOND CONTAINER */
.back{
  width: 350px;
height: 600px;
}

.front{
  height: 450px;
  width: 300px;
  position: absolute;
  left: 280px;
top: 1050px;
}

.about-us{

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #E61C5D;
}

.tour-plan-heading{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #112B3C;
}

.understand{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
color: #808080;
}

.about-number{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 40px;
/* line-height: 48px; */
color: #E61C5D;
}

.about-about{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #808080;
line-height: 0;
}

.R2{
  margin:180px 60px 60px 150px;
}

.L2{
  margin: 60px 100px;
}

/* FLEXBOX OF SECOND CONTAINER */
.second-container{
  display: flex;

}

.about-parent{
  display: flex;
  justify-content: between;
}

.about{
  flex: 1;
}

/* MEDIA QUERY FOR THE SECOND CONTAINER */
@media (max-width: 1200px) {
  .second-container{
    flex-direction: column;
    text-align: center;
  }

  .front{
    position: absolute;
    top: 1400px;
    left: 600px;
  }
}

@media (max-width:900px) {
  .front{
    left: 300px;
  }
}


@media (max-width: 600px) {
  .about-parent{
    flex-direction: column;
  }
}



/* THIRD CONTAINER */
#third-container{
  margin: 100px 50px 50px 70px;
}
.tour-packages{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #E61C5D;
margin-left: 12px;
}

.tc-arrow{
  margin: 0 7px;
}

.amazing-places{
  width: 591px;
height: 116px;
margin-left: 12px;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
margin-bottom: 100px;
color: #112B3C;
}

.col-heading{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;

line-height: 132%;
color: #112B3C;
padding : 5px;
}

.col-image{
  height: 200px;
  width: 100%;
}

.country{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 17px;

color: #112B3C;
}

.rate{
  font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFBD39;
}

.price{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 132%;
color: #E61C5D;
}

.days{
  font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 132%;
color: #808080;

}

.arrow{
  margin: 20px;
  background: rgba(230, 28, 93, 0.04);
width: 30%;
border-radius: 50%;
}

/* FLEXBOX OF THIRD CONTAINER */
.row{
  margin: 0;
  display: flex;
}

.col{
  background: white;
  margin: 20px;
  padding: 10px;
}

.flex-tour2{
  display: flex;

}

.arrow{
  flex: 1;
}

.amazing-places{
  flex: 2;
}

/* MEDIA QUERY FOR THE THIRD CONTAINER */
@media (max-width: 750px) {
  .row{
    flex-direction: column;
  }

  .col{
    text-align: center;
  }

  .col-image{
    height: 200px;
    width: 50%;
  }


}

@media (max-width: 680px) {
  .flex-tour{
    display: flex;

    flex-wrap: wrap;
  }

  .flex-tour2{
    display: flex;
    flex-wrap: wrap;
  }
}




/* TESTIMONIAL */

.testimonial{

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #E61C5D;

}

/*

.t-quote{
  position: absolute;
  top: 2380px;
}

.t-quote1{
  left: 340px;
}

.t-quote2{
  left: 710px;
}

.t-quote3{
  left: 1090px;
} */

.satisfied{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* text-align: center; */
color: #112B3C;
}

.testifier-name{

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

/* text-align: center; */
color: #112B3C;

}

.testifier-image{
  text-align: center;
}

.testifier-job{

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* text-align: center; */
color: #112B3C;
}

.testifier-rate{
  /* text-align: center; */
}

.testifier-testimony{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 133%;
/* text-align: center; */
color: #112B3C;

}

.testifier{
  border: 1px solid #FAFAFA;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
border-radius: 16px;
}

#testimonial{
  text-align: center;
}

/* FLEXBOX FOR TESTIMONIAL */
.testimony{
  display: flex;
  justify-content: space-around;
}

.testifier{
  text-align: center;
  background: white;
  margin: 30px;
  width: 302px;
height: 350px;

}

.t-quote{
  align-self: flex-start;
}

.t-arrow{
  align-self: center;
}

/* MEDIA QUERY FOR TESTIMONIAL */

@media (max-width: 750px) {
  .testimony{
    flex-direction: column;
    margin: auto;
  }
}


/* LAST CONTAINER */

.we{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
text-align: center;
color: #112B3C;


}

.do{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #808080;

}

.cta{
  font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
width: 156px;
height: 60px;
margin: 20px 0 100px 0;
background: #E61C5D;
margin: auto;
text-decoration: none;


border: 2px solid #E61C5D;
border-radius: 45px;
padding: 18px 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}

.c-tour{

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 132%;
color: #112B3C;

}

.price2{

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 132%;

color: #E61C5D;

}

.day2{

font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 132%;
color: #808080;

}

.tour{
  background: #FFFFFF;
border-radius: 16px;
padding: 5px;

}

/* FLEXBOX OF THE LAST CONTAINER */
.tour-country{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.tour2{
  align-self: flex-end;
}

.tour3{
  align-self: flex-end;
}

/* MEDIA QUERY FOR LAST CONTAINER */

@media (max-width: 1000px) {
  .tour-country{
    flex-wrap: wrap;
  }

  .cta{
    margin-bottom: 50px;
  }
}
/* FOOTER */
.tripy{
  font-family: 'Barlow';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #112B3C;

}

.footer-p{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #112B3C;


}

i{
  color: #E61C5D;
}

.footer-head{
  font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

text-align: left;

color: #112B3C;


}

.footer-div{

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: left;
color: #112B3C;



}


.footer-list{
  list-style: none;
}

.email{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
color: #808080;
width: 270px;
height: 51px;
border-radius: 40px;
border: 1px solid white;
box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
}

.A{
  color: #112B3C;
  text-decoration: none;
  line-height: 2;

}

.ccc{
  color: red;
  background-color: green;
}

#footer{
  background: white;
  margin: 250px 0 0 0;
  padding: 50px;
}



/* FLEXBOX FOR FOOTER */

.footer-row{
  display: flex;
}

.footer-col{
  flex: 1;

}

.email-cta{
  display: flex;
}

.email-cta-cta{
  align-self: center;
  position: absolute;
  right: 100px;
}


/* MEDIA QUERY FOR FOOTER */
@media (max-width: 700px) {
  .footer-row{
    flex-wrap: wrap;
  }
}
